<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Maps</title>
    <meta charset="UTF-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- bootstrap import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap" rel="stylesheet">
    <!-- vendors imports -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="/styles/combined.css" type="text/css"/>
    <!-- scripts -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <nav>
      <h1>wiki maps</h1>
      <span id='welcome-message'>

      </span>
      <div class="form register_form">
        <form id="Uregister-form">
          <label for="register-name">Name</label>
          <input class="register-name" type="text" placeholder="Enter name">
          <label for="register-email">Email</label>
          <input class="register-email"type="email" placeholder="Enter email">
          <label for="register-password">Password</label>
          <input class="register-password" type="password" placeholder="Enter password">
          <input class="submit" type="submit">
        </form>
      </div>
      <div class="form login_form">
        <form id="Ulogin-form">
          <label for="login-password">Email</label>
          <input class="login-email" type="email" placeholder="Enter email">
          <label for="login-password">Password</label>
          <input class="login-password" type="password" placeholder="Enter password">
          <input class="submit" type="submit">
        </form>
      </div>
      <span class='login-register-buttons'>
        <button type="button" id="login" class="btn btn-light">Login</button>
        <button type="button" id="register" class="btn btn-light">Register</button>
        <button type="button" id="logout" class="btn btn-light">Logout</button>
      </span>
      <div class="alert select-map-alert alert-danger" role="alert"> 🛑 Please select a map before adding a point! 🛑</div>
      <div class="alert user-login-alert alert-danger" role="alert"> 🛑 Please register or login before adding a point! 🛑</div>
    </nav>
    <div class='navigate-down'><img src="/assets/img/arrow-down.svg" alt="" style="width: 1.5em" title="contributions"></div>
    <div class='navigate-up'><img src="/assets/img/arrow-up.svg" alt="" style="width: 1.5em" title="contributions"></div>
    <!-- this div is here for flexbox purposes -->
    <div class="flexbox-responsive">
      <main>
        <div id="mapid" data-mapId = '15'>

        </div>
      </main>
      <aside>
        <div class="aside-content">
          <h2 class="all-maps-aside"> all maps</h2>
          <div id="maps-container" class="all-maps-aside">

          </div>
          <h2 class="favourites-aside"> favourites</h2>
          <div class="favourites-aside">
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
          </div>
          <h2 class="contributions-aside" style="color:rgba(155, 193, 188, 1)"> contributions</h2>
          <div class="contributions-aside">
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
          </div>
        </div>
          <ul class='map-navigation-menu sidebar-nav'>
            <li id="all-maps">
              <img src="/assets/img/map.svg" alt="" style="width: 1.5em" title="all-maps"></li>
            <li id="favourites" class="left-border">
              <img src="/assets/img/heart.svg" alt="" style="width: 1.5em" title="favourites"></li>
            <li id="contributions" class="left-border">
              <img src="/assets/img/person.svg" alt="" style="width: 1.5em" title="contributions">
            </li>
          </ul>
      </aside>
    </div>
    <div id='new-map_form'>
      Create a new map!
      <form id='map-form'>
        <input id="name-field" type="text" name="map-name" placeholder="Name your map!">
        <input class="btn btn-light" type="submit">
        <p class="name-alert alert alert-warning" style="display:none" role="alert">Please name your map!</p>
      </form>
    </div>
    <footer class='create-icons'>
      <div id='new-map_button'>
        <img src="/assets/img/map.svg" alt="" style="width: 1.5em" title="new-map"></li>
      </div>
    </footer>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
