<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Maps</title>
    <meta charset="UTF-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- bootstrap import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap" rel="stylesheet">
    <!-- vendors imports -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/combined.css" type="text/css"/>
    <!-- scripts -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <nav>
      <h1>wiki maps</h1>
      <span id='welcome-message'>
        Welcome, Team Promising!
      </span>
      <span class='login-register-buttons'>
        <button type="button" id="login" class="btn btn-light">Login</button>
        <button type="button" id="register" class="btn btn-light">Register</button>
        <button type="button" id="logout" class="btn btn-light">Logout</button>
      </span>
    </nav>
    <!-- this div is here for flexbox purposes -->
    <div>
      <main>
        <div id="mapid">

        </div>
      </main>
      <aside>
        <div class="aside-content">
          <h2 class="all-maps-aside"> all maps</h2>
          <div id="maps-container" class="all-maps-aside">
          </div>
          <h2 class="favourites-aside"> favourites</h2>
          <div class="favourites-aside">
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
          </div>
          <h2 class="contributions-aside" style="color:rgba(155, 193, 188, 1)"> contributions</h2>
          <div class="contributions-aside">
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
            <div class="map-list-item">
              <p>This is a map title, please click me so that you can see me on the big map!</p>
            </div>
          </div>
        </div>
        <div class="sidebar-nav">
          <ul class='map-navigation-menu'>
            <li id="all-maps"><svg class="bi bi-map" width="1.5em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M17.817 2.613A.5.5 0 0118 3v13a.5.5 0 01-.402.49l-5 1a.502.502 0 01-.196 0L7.5 16.51l-4.902.98A.5.5 0 012 17V4a.5.5 0 01.402-.49l5-1a.5.5 0 01.196 0l4.902.98 4.902-.98a.5.5 0 01.415.103zM12 4.41l-4-.8v11.98l4 .8V4.41zm1 11.98l4-.8V3.61l-4 .8v11.98zm-6-.8V3.61l-4 .8v11.98l4-.8z" clip-rule="evenodd"/>
            </svg></li>
            <li id="favourites" class="left-border"><svg class="bi bi-heart" width="1.5em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 4.748l-.717-.737C7.6 2.281 4.514 2.878 3.4 5.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.837-3.362.314-4.385-1.114-2.175-4.2-2.773-5.883-1.043L10 4.748zM10 17C-5.333 6.868 5.279-1.04 9.824 3.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C14.72-1.042 25.333 6.867 10 17z" clip-rule="evenodd"/>
            </svg></li>
            <li id="contributions" class="left-border">
              <svg class="bi bi-person" width="1.5em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 16s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002zM5.022 15h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C13.516 12.68 12.289 12 10 12c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002zM10 9a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
              </svg>
          </li>
          </ul>
        </div>
      </aside>
    </div>
    <div id='new-map_form'>
      Create a new map!
      <form id="map-form">
        <input type="text" name="map-name" placeholder="Name your map!">
        <input class="btn btn-light" type="submit">
      </form>
    </div>
    <footer class='create-icons'>
      <div id='new-map_button'>
        <svg class="bi bi-map" width="1.5em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M17.817 2.613A.5.5 0 0118 3v13a.5.5 0 01-.402.49l-5 1a.502.502 0 01-.196 0L7.5 16.51l-4.902.98A.5.5 0 012 17V4a.5.5 0 01.402-.49l5-1a.5.5 0 01.196 0l4.902.98 4.902-.98a.5.5 0 01.415.103zM12 4.41l-4-.8v11.98l4 .8V4.41zm1 11.98l4-.8V3.61l-4 .8v11.98zm-6-.8V3.61l-4 .8v11.98l4-.8z" clip-rule="evenodd"/>
        </svg>
      </div>
    </aside>
    </footer>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
