// See: https://sass-lang.com/

body {
  overflow: hidden;
  nav {
    position: absolute;
    height: 15%;
    width: 100%;
    display: flex;
    z-index: 2;
  }
  .form {
    position: fixed;
    padding: 1em;
    top: 20%;
    right: 2%;
    form {
      text-align: left;
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 1em;
      }
      .submit {
        margin-top: 1em;
      }
    }
  }

  .login_form, .register_form {
    display:none;
  }
  main {
    #mapid {
      position: absolute;
      top: 15%;
      left: 25%;
      height: 85%;
      width: 75%;
      z-index: 1;
    }
  }
  aside {
    overflow: hidden;
    .aside-content {
      position: absolute;
      top: 15%;
      height: 85vh;
      width: 25%;
      z-index: 4;
      overflow-y: scroll;
    }
    div {
      img {
        max-width: 250px;
        max-height: 100px;
        width: auto;
        height: auto;
      }
      .map-list-item {
        margin: 1em;
<<<<<<< HEAD
=======
        display: flex;
        flex-direction: row;
>>>>>>> a2a462ed5eddf50432c56d412f90376a11d6b575
        button {
          display: flex;
          text-align: left;
          width: 100%;
          padding: 1em;
<<<<<<< HEAD
          justify-items: center;
=======
          padding-right: 0;
          align-items: center;
>>>>>>> a2a462ed5eddf50432c56d412f90376a11d6b575
          p {
            align-self: center;
            word-break: break-all;
          }
          img {
            margin-right: 1em;
            min-width: 3em;
          }
<<<<<<< HEAD
=======
        }
        .favourited, .favouritable {
          height: 1em;
          margin-left: auto;
          margin-top: 1em;
          margin-right: 1em;
          min-width: 1em;
          align-self: end;
        }
        .favourited {
          display: none;
>>>>>>> a2a462ed5eddf50432c56d412f90376a11d6b575
        }
      }
    }
    .favourites-aside {
      display: none;
    }
    .contributions-aside {
      display: none;
    }
    .sidebar-nav {
      ul {
        top: 15%;
        left: 22.05%;
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 15em;
        z-index: 10;
        flex-grow: 1;
        li {
          list-style-type:none;
          flex-grow: 1;
          line-height: 5em;
          padding: 1em;
        }
        #all-maps {
          z-index: 3;
        }
        #favourites {
          z-index: 2;
        }
        #contributions {
          z-index: 1;
        }
      }
    }
  }
  #new-map_form {
    position: fixed;
    text-align: center;
    display:none;
    right: 2%;
    bottom: 20%;
    z-index: 10;
    padding: 2em;
  }
  .create-icons {
    z-index: 10;
    position: fixed;
    right: 2%;
    display: inline-block;
    bottom: 5%
  }
  footer {
    #new-map_button {
     border-radius: 50%;
     width: 3.5em;
     height: 3.5em;
     margin: 1em;
     display:flex;
     justify-content: center;
     align-items: center;
    }
  }
}
