// See: https://sass-lang.com/

body {
  overflow: hidden;
  .navigate-up {
    display: none;
  }
  .navigate-down {
    display:none;
  }
  nav {
    position: relative;
    height: 15%;
    width: 100%;
    display: flex;
    z-index: 2;
  }
  .form {
    position: fixed;
    padding: 1em;
    top: 20%;
    right: 2%;
    form {
      text-align: left;
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 1em;
      }
      .submit {
        margin-top: 1em;
      }
    }
  }
  .alert {
    z-index: 3;
    position: fixed;
    top: 20%;
    right: 25%;
    display: none;
  }
  .login_form, .register_form {
    display:none;
  }
  div {
    position: relative;
    main {
      #mapid {
        position: relative;
        height: 100vw;
        width: 100vw;
        z-index: 1;
      }
    }
    aside {
      overflow: hidden;
      position: absolute;
      display: flex;
      height: 100%;
      width: 45vw;
      z-index: 10;
      top: 0;
      .aside-content {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: auto;
        z-index: 4;
        overflow-y: scroll;
      }
      .sidebar-nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 10;
        justify-content: flex-start;
        padding: 0;
        li {
          list-style-type:none;
          line-height: 5em;
          padding: 1em;
        }
        #all-maps {
          z-index: 3;
        }
        #favourites {
          z-index: 2;
        }
        #contributions {
          z-index: 1;
        }
      }
      div {
        img {
          width: auto;
          height: auto;
        }
        .map-list-item {
          margin: 1em;
          display: flex;
          flex-direction: row;
          form {
            input {
              max-width: 8em;
            }
          }
          button {
            display: flex;
            text-align: left;
            width: 100%;
            padding: 1em;
            padding-right: 0;
            align-items: center;
            p {
              align-self: center;
              word-break: break-all;
            }
            img {
              margin-right: 1em;
              min-width: 3em;
            }
          }
          .favouritable {
            height: 1em;
            margin-left: auto;
            margin-top: 1em;
            margin-right: 1em;
            min-width: 1em;
            align-self: end;
          }
          .icons {
            display: flex;
            flex-direction: column;
            .favouritable, .cancel-img {
              height: 1em;
              margin-left: auto;
              margin-top: 1em;
              margin-right: 1em;
              min-width: 1em;
              align-self: end;
            }
            .edit-map-title, .confirm-img {
              height: 1em;
              margin-left: auto;
              margin-top: 1em;
              margin-right: 1em;
              min-width: 1em;
              align-self: end;
            }
            .confirm-img, .cancel-img {
              display: none;
            }
          }
        }
      }
      .favourites-aside {
        display: none;
      }
      .contributions-aside {
        display: none;
      }
    }
  }
  #new-map_form {
    position: fixed;
    text-align: center;
    display:none;
    right: 2%;
    bottom: 20%;
    z-index: 11;
    padding: 2em;
  }
  .create-icons {
    z-index: 10;
    position: fixed;
    right: 2%;
    display: inline-block;
    bottom: 5%
  }
  footer {
    #new-map_button {
     border-radius: 50%;
     width: 3.5em;
     height: 3.5em;
     margin: 1em;
     display:flex;
     justify-content: center;
     align-items: center;
    }
  }
}
