$color1: rgba(237, 106, 90, 1);
$color2: rgba(244, 241, 187, 1);
$color3: rgba(155, 193, 188, 1);
$color4: rgba(93, 87, 107, 1);
$color5: rgba(230, 235, 224, 1);

.marker-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  input {
    margin-bottom: 1em;
  }
  .submit {
    margin-top: 1em;
  }
}
