$color1: rgba(237, 106, 90, 1);
$color2: rgba(244, 241, 187, 1);
$color3: rgba(155, 193, 188, 1);
$color4: rgba(93, 87, 107, 1);
$color5: rgba(230, 235, 224, 1);
$shadow: 0.2em 0.2em 0 0 $color4;

@media only screen and (max-width: 768px) {
  body {
    background-color: $color3;
    .navigate-up, .navigate-down {
      background-color: $color1;
      box-shadow: $shadow;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
      margin: 1em;
      display:flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 11;
      bottom: 5%;
      left: 5%;
    }
    .flexbox-responsive {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      main {
        order: 2;
        position: static;
        width: 100%;
      }
      aside {
        order: 1;
        position: static;
        width: 100%;
        .aside-content {
          display: flex;
          flex-direction: column;
          .all-maps-aside {
            display: flex;
            flex-direction: row;
            text-align: center;
          }
          #maps-container {
            display: flex;
            word-wrap: break-word;
            flex-wrap: wrap;
          }
          h2 {
            justify-content: center;
          }
        }
        .sidebar-nav {
          height: 100%;
          margin-bottom: 0;
          justify-content: space-evenly;
          li {
            height: auto;
            border-radius: 0;
            flex-grow: 1;
          }
        }
      }
    }
  }
}
